
<ion-view cache-view="false" view-title="Login">
  <ion-title>FAQ Create</ion-title>
  <ion-content class="padding">

    <h2>Faq to firebase</h2>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">질문 </span>
        <input type="text" value="" placeholder="질문을 입력해주세요." ng-model="faq.titles" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">답변 </span>
        <textarea name="contents" placeholder="답변을 입력해주세요." ng-model="faq.contents" rows="10"></textarea>
      </label>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="faqCreate(faq);">
          내용 저장
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <pre>faq = {{faq | json}}</pre>
      </div>
    </div>

  </ion-content>

</ion-view>
